*{
    padding: 0;
    margin: 0;
}
body{
    background: url(background\ pro.jpg) no-repeat;
    background-size: cover;
    height: 100vh;
}
span{
    color: rgb(102, 255, 0);
}
.box{
    height: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: 'Times New Roman', Times, serif;
    padding:0 90px;
    border: 2px solid rgb(20, 159, 209);
    z-index: 1;
    border-radius: 50px;
   
}
h1 u b{
    color: aliceblue;
    font-size: 45px;
    color: aqua;
}
h1 u{
    color: #ffffff;
}
h4{
    color: aliceblue;
    font-size: 32px;
    color:burlywood;
    padding-bottom: 10px;
    margin-top: 10px;
}
p{
    color: aliceblue;
    font-size: 30px;
    line-height: 1.2;
}
.container{
   
    padding: 10px 10%;
    height: auto;
}
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}
.logo{ 
    width: 180px;
}
nav ul li{
    display: inline;
    list-style: none;
    margin: 10px 20px;
}
nav ul li a{
    color: white;
    text-decoration: none;
    font-size: 18px;
    font-weight: bolder;
    position: relative;
    padding: 6px 13px;
    border-radius: 50px;
}
nav ul li a:hover{
   color: red;
   background-color:#ffffff;
  transition: ease-in 0.2s;
}

nav ul li a.active{
    color: rgb(255, 0, 0);
}
footer h6{
    color: antiquewhite;
    text-align:center;
    font-size: 20px;
    margin-top: 25px;
    font-family: 'Times New Roman', Times, serif;
   
}
