*{
    padding: 0;
    margin: 0;
}
body{
    background: url(background\ pro.jpg) no-repeat;
    background-size: cover;
    height: 100vh;
    font-family: 'Times New Roman', Times, serif;
}
.box{
    height: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: 'Times New Roman', Times, serif;
    padding:0 80px;
    border: 2px solid rgb(20, 159, 209);
    z-index: 1;
    border-radius: 50px;
  }
  .container{
     
      padding: 10px 10%;
      height: auto;
  }
  nav{
      display: flex;
      align-items: center;
      justify-content: space-between;
      flex-wrap: wrap;
  }
  nav ul li{
      display: inline;
      list-style: none;
      margin: 10px 20px;
  }
  nav ul li a{
      color: white;
      text-decoration: none;
      font-size: 18px;
      font-weight: bolder;
      position: relative;
      padding: 6px 13px;
      border-radius: 50px;
  }
  nav ul li a:hover{
     color: red;
     background-color:#ffffff;
    transition: ease-in 0.2s;
  }
  
  nav ul li a.active{
      color: rgb(255, 0, 0);
  }
  h1 b u{
      color: rgb(48, 243, 220);
      font-size: 40px;
  }
  h2{
      color: rgb(0, 255, 17) ;
      margin-top: 10px;
      font-size: 30px;
  }
  footer h6{
      color: antiquewhite;
      text-align: center;
      margin-top: 25px;
      font-size: 20px;
  }
  span{
      color: rgb(0, 255, 4);
  }
  h1{
    color: goldenrod;
    font-size: 30px;
  }
  a{
    font-size: 20px;
    margin-top: 20px;
  }
h4{
    font-size: 25px;
    color: antiquewhite;
    margin-top: 10px;
}
h2{
    color: goldenrod;
    font-size: 30px;
}
h5{
    color: antiquewhite;
    margin-top: 10px;
    font-size: 25px;
}