*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Times New Roman', Times, serif;
}
body{
    color: #ffff;
    height:100vh;
    background: url(background\ pro.jpg) no-repeat;
}
#header{
    width: 100%;
    height: 100vh;
    background-color: #080808;
    background-size: cover;
    background-position: center;
}
.container{
   
    padding: 10px 10%;
    height: auto;
}
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}
.logo{ 
    width: 180px;
}
nav ul li{
    display: inline;
    list-style: none;
    margin: 10px 20px;
}
nav ul li a{
    color: white;
    text-decoration: none;
    font-size: 18px;
    font-weight: bolder;
    position: relative;
    padding: 6px 13px;
    border-radius: 30px;
}
nav ul li a:hover{
   color: red;
   background-color:#ffffff;
  transition: ease-in 0.2s;
}

nav ul li a.active{
    color: rgb(255, 0, 0);
}
.header-text{
    margin-top: 18%;
    font-size: 30px;
    font-family: 'Times New Roman', Times, serif;
}
.header-text h1{
    font-size: 50px;
    margin-top: 20px;
    font-family: 'Times New Roman', Times, serif;
}
.header-text h1 span{
    color: orangered;
    font-family: 'Times New Roman', Times, serif;
}
.hello{
    display: flex;
    
}
.myimg{
     height: 400px;
    padding: 20px 0 0 0;
    margin:30px 0 0 200px;
   border:solid 2px rgb(64, 155, 240);
   border-radius: 60px;
    

}
footer h6{
    color: antiquewhite;
    text-align:center;
    font-size: 20px;
    margin-top: 25px;
   font-family: 'Times New Roman', Times, serif;

}
span{
    color: rgb(0, 255, 4);
    font-family: 'Times New Roman', Times, serif;
}
